.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.signup-container {
  max-width: 400px;
  width: 100%;
  padding: 15px;
  background-color: var(--accent-color);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.signup-heading {
  text-align: center;
  font-size: 2rem;
  color: var(--background-color);
  margin-bottom: 20px;
}

.signup-error-message {
  color: #ff6b6b;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-input-fullname,
.signup-input-phone,
.signup-input-email,
.signup-input-username,
.signup-input-password,
.signup-input-gender {
  padding: 15px;
  font-size: 16px;
  height: 40px;
  border: 1px solid #b9b4c7;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.signup-input-fullname:focus,
.signup-input-phone:focus,
.signup-input-email:focus,
.signup-input-username:focus,
.signup-input-password:focus,
.signup-input-gender:focus {
  outline: none;
  border-color: #b9b4c7;
  box-shadow: 0px 0px 5px #b9b4c7;
}

.signup-input-gender {
  padding: 10px;
  font-size: 16px;
  height: 40px;
  border: 1px solid #b9b4c7;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.signup-input-gender::after {
  content: "▼";
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: calc(50% - 6px);
  pointer-events: none;
  color: #352f44;
}

.signup-button {
  margin-top: 10px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.signup-login-text {
  margin-top: 10px;
  text-align: center;
  color: var(--background-color);
}

.signup-login-link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.signup-login-link:hover {
  text-decoration: underline;
}
